<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body style="color:white; height: 75vh">
    <hgroup>
        <h1>Błąd</h1>
        <h2>Podczas przetwarzania twojego żądania wystąpił błąd :(</h2>
    </hgroup>
</body>
</html>
